@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Source+Code+Pro:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

html {
  background-color: rgba(230, 221, 210, 0.808);
}

header {
  padding: 0.5rem 0 1rem 0;
  background-color: rgb(230, 210, 185);
}

h1 {
  color: rgb(95, 211, 195);
  text-align: center;
}

.mmm {
  font-family: "Oleo Script Swash Caps", cursive;
}

.hm {
  font-family: "Source Code Pro", monospace;
}

#MMMlogo {
  height: 9rem;
  width: auto;
}

#HMportrait {
  height: 9rem;
  width: auto;
}

.sect {
  width: 75%;
  text-align: center;
}

.sect-text {
  width: 50%;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: blue;
}
