@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Source+Code+Pro:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

html {
  background-color: rgba(230, 221, 210, 0.808);
}

header {
  padding: 0.5rem 0 1rem 0;
  background-color: rgb(187, 242, 252);
}

h1 {
  color: rgb(5, 211, 195);
  text-align: center;
}

h1.mmm {
  font-size: 3.5rem;
}

h1.hm {
  font-size: 3.5rem;
}

.mmm {
  font-family: "Oleo Script Swash Caps", cursive;
}

.hm {
  font-family: "Source Code Pro", monospace;
}

#MMMlogo {
  height: 18rem;
  width: auto;
  padding: 10px 10px;
}

#HMportrait {
  height: 24rem;
  width: auto;
  padding: 10px 10px;
}

.sect {
  text-align: center;
}

.sect-text {
  padding: 10px 60px 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  background-color: cornsilk;
}

.player {
  padding: 15px 0 20px;
  background-color: darkolivegreen;
}

.contact {
  padding: 15px 0 25px;
  background-color: rgb(179, 179, 179);
}

.links {
  background-color: cornsilk;
  padding: 15px 0 10px;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

#reverbnation {
  color: red;
}

#twitter {
  color: rgb(29, 161, 242);
}

#facebook {
  color: rgb(59, 89, 152);
}
#youtube {
  color: rgb(255, 0, 0);
}

#github {
  color: black;
}
